fastapi==0.115.9
uvicorn==0.34.0
pydantic[email]
pydantic-settings==2.8.1
pytest==8.3.5
pytest-asyncio==0.25.3
pandas==2.2.3
pyarrow==19.0.1
motor==3.7.0
beanie==1.29.0
google-genai==1.9.0
scikit-learn==1.6.1
joblib==1.4.2
huggingface-hub==0.34.4
gradio==5.43.1
chromadb==1.0.3
langchain==0.3.23
authlib==1.6.0
itsdangerous==2.2.0